
.property-add-form{
   margin: 5px;
   width: 95%;
   border-radius: 5px;
}
.property-manage-form{
   margin:10px;
   width:80%;
   border-radius: 5px;
}


.add-property-div {
    border-right : 2px solid white;
}



body {
  background-image: url('../images/6.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
   backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  -webkit-backdrop-filter: sepia() hue-rotate(120deg);
}

body :before{
    z-index: -1;
}

.content{
    color: #f2eaea;
    background:#7f7f7f;
    background:rgba(0,0,0,0.5);
    background-opacity:
}

.content-jumbotron{
    color: #f2eaea;
    background:#7f7f7f;
    background:rgba(0,0,0,0.5);
}

.navbar-inner {
    background:transparent;
     background:#7f7f7f;
    background:rgba(0,0,0,0.5);
}

.update-card {
    color: #4c4844;
}