.booking-filter {
    width: 70%;
    border-radius: 10px;
    margin: auto;
}

.manage-booking {
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

#cancelButtonDiv {
    margin-top: 10%;
    margin-bottom:5%;
}

.table-show-properties{
    border-radius: 10px;
}

.update-buttons{
    margin-bottom: 5%;
}

.icon-anchor{
    width:6%;
    height:3%;
}

.nav-buttons{
    background-color: black;
}


body {
  background-image: url('../images/5.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
   backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  -webkit-backdrop-filter: sepia() hue-rotate(120deg);
}

body :before{
    z-index: -1;
}

.content{
    color: #595050;
    background:#7f7f7f;
    background:rgba(255,255,255,0.5);
    background-opacity:
}

.content-jumbotron{
    color: #f2eaea;
    background:#7f7f7f;
    background:rgba(0,0,0,0.5);
}

.navbar-inner {
    background:transparent;
     background:#7f7f7f;
    background:rgba(0,0,0,0.5);
}

/************ RATE STARS *************/

.rate {
    float: ;
    height: auto;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
