<!doctype html>
    <html lang="en">
      <head>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/booking.css">

           <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <title>Welcome User - AirBnB</title>
      </head>

<body>

 <div class="container-fluid">

      <div class="jumbotron">
            <h3> Welcome {{ user[0] }}, </h3>
          <p>
            <h5> Let's go an adventure together! Book a place at your next travel destination. </h5>
        </div>

     {% if info %}
     <div class="alert alert-success" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
        <h5><strong>Info:</strong> {{ info }} </h5>
     </div>
     {% elif error %}
     <div class="alert alert-danger" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
        <h5><strong>error:</strong> {{ error }} </h5>
     </div>
     {% endif %}

      <div class="row">
        <div class="col-sm-8" id="findPropertiesDiv">
            <form method="POST" action="/findProperties" id="bookingFilter" >

                 <h4> Please enter the details for your stay so we can find an appropriate place for you.</h4>
                 <label for="city"><b> Enter the city you would like to stay in: </b></label>
                 <select name="city"  id="selectBox">
                    <option value="boston">Boston</option>
                    <option value="chicago">Chicago</option>
                    <option value="new_york">New York</option>
                </select>
              <br>

              <label for="rentMin"><b> Enter the Minimum Rent: </b></label>
              <input type="number" name="min_rent" placeholder="Min Rent" required>
              <br>

              <label for="rentMax"><b> Enter the Maximum Rent: </b></label>
              <input type="number" name="max_rent" placeholder="Max Rent" required>
              <br>

              <label for="check_in_date"><b> Enter your check in date: </b></label>
              <input type="date" name="check_in_date" placeholder="Check in date" required>
              <br>

              <label for="check_out_date"><b> Enter your check out date: </b></label>
              <input type="date" name="check_out_date" placeholder="Check out date" required>
              <br>

              <br>
              <button  type="submit"  class="btn btn-primary" value = "Find Properties">
                 <span class="fa fa-search"> Search </span>
             </button>

            </form>
        </div>


        <div class="col-sm-4">
         <div class="userUpdateButtons">
            <form method="POST" action="/showChangeBooking">
                <button type="submit" class="btn btn-warning bookingBtn" value="changeBooking" > Change a reservation </button>
            </form>
         </div>
        <div class="userUpdateButtons ">
            <form method="POST" action="/showCancelBooking">
                <button type="submit" class="btn btn-danger bookingBtn" value="cancelBooking" > Cancel booking </button>
            </form>
        </div>
        <div class="userUpdateButtons ">
            <form method="POST" action="/">
                <button type="submit" class="btn btn-primary bookingBtn" value="rateProperty" > Rate a previous stay </button>
            </form>
        </div>
        </div>
      </div>

 </div>



</body>

</html>
