<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
</head>
<body>

<div class="container">
    <h1> User Registration</h1>
    <div id = "registerDiv">
        <form method="POST" action="/register" id="registerForm">
            <label for="first_name"><b>First Name:  </b></label>
            <input type="text" placeholder="Enter first name" name="first_name" required>
            <br>

            <label for="last_name"><b>Last Name:  </b></label>
            <input type="text" placeholder="Enter last name" name="last_name" required>
            <br>

            <label for="user_name"><b> User Name:  </b></label>
            <input type="text" placeholder="Enter username you would like." name="username" required>
            <br>

            <label for="password"><b> Password:  </b></label>
            <input type="password" placeholder="Enter password" name="user_password" required>
            <br>

            <label for="confirm_password"><b> Confirm Password:  </b></label>
            <input type="password" placeholder="Confirm password" required>
            <br>

            <label for="address"><b> Address:  </b></label>
            <input type="text" placeholder="Enter your address" name="address" required>
            <br>

            <label for="email"><b> Email ID:  </b></label>
            <input type="email" placeholder="Enter email" name="email" required>
            <br>

            <br>
            <label for="phone"><b> Phone Number:  </b></label>
            <input type="tel" placeholder="Enter phone number" name="phone" required>

            <br>
            <label for="user_type"><b> Choose the type of account you want to create:</b></label>
            <br>
            <input type="radio" name="options"  value="client"> <b> Client Account </b>
            <input type="radio" name="options"  value="owner"> <b> Property Owner </b>
            <br>

            <br>
            <input type="submit"  class="btn btn-primary" value = "Register">
        </form>
    </div>
     <div>
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
      </div>
</div>

</body>
</html>